/.allowed-licenses          export-ignore
/.editorconfig              export-ignore
/.env                       export-ignore
/.env.example               export-ignore
/.gitattributes             export-ignore
/.github/                   export-ignore
/.gitignore                 export-ignore
/.idea                      export-ignore
/.psysh.php                 export-ignore
/CHANGELOG.md               export-ignore
/CODE_OF_CONDUCT.md         export-ignore
/CONTRIBUTING.md            export-ignore
/Dockerfile                 export-ignore
/Makefile                   export-ignore
/SECURITY.md                export-ignore
/benchmarks/                export-ignore
/bin/                       export-ignore
/build/                     export-ignore
/captainhook.json           export-ignore
/codecov.yml                export-ignore
/composer.lock              export-ignore
/conventional-commits.json  export-ignore
/docker-compose.yml         export-ignore
/docs/                      export-ignore
/phpbench.json              export-ignore
/phpcs.xml                  export-ignore
/phpcs.xml.dist             export-ignore
/phpstan.neon               export-ignore
/phpstan.dist.neon          export-ignore
/phpunit.xml                export-ignore
/phpunit.dist.xml           export-ignore
/psalm-baseline.xml         export-ignore
/psalm.xml                  export-ignore
/rector.php                 export-ignore
/resources/                 export-ignore
/settings.ini               export-ignore
/tests/                     export-ignore
