services:
  app:
    build:
      context: ./
      dockerfile: Dockerfile
      target: php
    volumes:
      - type: bind
        source: ./
        target: /app
        bind:
          create_host_path: true
    user: dev
